body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 10vh;
    display: flex;
    align-items: center;
    background-color: #ff6666;
    justify-content: space-around;
    margin-bottom: 30px;
}

.nazev,
.menu,
.logo {
    display: flex;
}

.nazev {
    flex: 1;
}

.turnus {
    padding-left: 55px;
    color: white;
}

.vysocina {
    padding-left: 10px;
    font-size: 40px;
    color: white;
}

nav {
    flex: 2;
}

.logo {
    justify-content: flex-end;
    flex: 1;
    background-color: transparent;
    padding-right: 10px;
}

.nadpis img {
    padding-top: 5px;
    width: 75px;
}

.home {
    text-decoration: none;
    color: white;
}

.menu {
    list-style: none;
    justify-content: space-around;
    font-weight: 400;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px;
    color: white;
}

.link:hover {
    color: yellow;
}

.dva {
    box-shadow: 15px solid #666;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #666;
    grid-column: 2/4;
    display: flex;
}

.tri {
    background-color: #ff66664d;
    box-shadow: 5px 5px 5px 5px #666;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
}

.ctyri {
    box-shadow: 5px 5px 5px 5px #666;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
}

.osoba {
    width: 45%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    height: 218px;
    -webkit-transition: height 250ms ease;
    -moz-transition: height 250ms ease;
    -o-transition: height 250ms ease;
    transition: height 250ms ease-in;
}

.osoba.transition {
    height: 400px;
}

.profile-photo img {
    width: 90%;
    border-radius: 50%;
}

.profile-photo {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 169, 74);
}

.jmeno {
    margin-bottom: 15px;
    color: rgb(253, 169, 74);
}

.jmeno p:first-child {
    font-size: 24px;
    font-weight: 600;
    width: fit-content;
}

.jmeno p:first-child:hover {
    cursor: pointer;
}

.jmeno p:first-child:after {
    display: block;
    content: '';
    border-bottom: solid 3px rgb(253, 169, 74);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.jmeno p:first-child:hover:after {
    transform: scaleX(1);
}

.text {
    margin: 20px;
    width: 70%;
}

.telo {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    color: #585772;
}

.profile-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-webkit-box-orient: vertical;
    margin-right: 15px;
}

.panel {
    background-color: #666;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.facebook {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

@media (max-width: 1600px) {
    .telo {
        width: 85%;
    }
}

@media (max-width: 1350px) {
    .telo {
        width: 90%;
    }
    .text p {
        font-size: 14px;
    }
    .text {
        margin: 10px;
    }
    .profile-description {
        margin-right: 10px;
    }
}

@media (max-width: 1150px) {
    .telo {
        width: 90%;
    }
    .text p {
        font-size: 14px;
    }
    .osoba {
        margin: 10px 0;
        width: 47.5%;
    }
}

@media (max-width: 1000px) {
    header {
        display: flex;
        flex-wrap: wrap;
        min-height: 15vh;
        margin-bottom: 20px;
    }
    .vysocina {
        font-size: 24px;
        padding: 0;
        text-align: center;
    }
    .turnus {
        font-size: 16px;
        padding: 0;
        text-align: center;
    }
    .nazev {
        margin-left: 10px;
        width: 60%;
        min-height: 10vh;
        align-items: center;
        flex: auto;
    }
    .logo {
        width: 40%;
        min-height: 10vh;
        align-items: center;
    }
    .nadpis img {
        height: 8vh;
        width: auto;
    }
    nav {
        order: 3;
        background-color: #666;
        height: 5vh;
        align-self: flex-end;
    }
    .menu {
        text-align: center;
        align-items: center;
        height: 100%;
    }
    .kapitola {
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .telo {
        width: 95%;
    }
    .osoba.transition {
        height: 500px;
    }
}

@media (max-width: 700px) {
    .text p {
        font-size: 12px;
    }
    .jmeno p:first-child {
        font-size: 16px;
    }
    .osoba.transition {
        height: 400px;
    }
    .osoba {
        height: 150px;
    }
    .text {
        margin: 5px;
    }
    .profile-description {
        margin-right: 5px;
    }
}

@media (max-width: 650px) {
    .osoba.transition {
        height: 450px;
    }
}

@media (max-width: 600px) {
    .osoba {
        width: 80%;
    }
    .osoba.transition {
        height: 300px;
    }
}

@media (max-width: 500px) {
    .link {
        font-size: 14px;
    }
    .panel p {
        font-size: 12px;
    }
    .osoba {
        width: 85%;
    }
}

@media (max-width: 500px) {
    .link {
        font-size: 14px;
    }
    .panel p {
        font-size: 12px;
    }
    .osoba {
        width: 85%;
    }
}

@media (max-width: 470px) {
    .osoba {
        width: 90%;
    }
}

@media (max-width: 440px) {
    .osoba.transition {
        height: 350px;
    }
}

@media (max-width: 390px) {
    .osoba.transition {
        height: 400px;
    }
    .osoba {
        width: 95%;
    }
}

@media (max-width:350px) {
    .link {
        font-size: 12px;
    }
}

@media (max-height:390px) {
    nav {
        min-height: 20px;
    }
    .nadpis img {
        height: 40px;
    }
}